@charset "utf-8";

html {
    /* background-color: #ecf9fa; */
    background-image: linear-gradient(0deg, white, rgb(230, 250, 255));
}

body {
    width: 980px;
    margin: 0 auto;
    background-color: white;
}

aside {
    width: 240px;
    float: left;
    background-color: #f0fcff;
}

article {
    float: right;
    width: 740px;
}

footer {
    clear: both;
    background-color: #d3d3ff;
    margin: 0px;
    padding: 10px;
}

header {
    margin: 0px;
    padding: 20px;
    background-color: #bbbbff;
}

nav {
}

h1 {
    margin: 0;
    text-align: center;
    color: darkblue;
}

article h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    /* background-color: #a1c2ff; */
    background-image: linear-gradient(180deg, #dadaff, rgb(228, 248, 255));
}

footer div {
    text-align: center;
}
