@charset "utf-8";

:root {
    --color-blue: #0068b7;
    --color-sky: #9fd9f6;
    --color-yellow: #ffeea1;
    --color-light-blue: #d4eefc;
}

html {
    background-color: white;
    font-family: "Hiragino Mincho Pro", "MS P Mincho", "Times New Roman";
}

body {
    background-color: var(--color-sky);
}

aside {
    background-color: var(--color-light-blue);
}

footer {
    background-image: linear-gradient(180deg,
        var(--color-sky) 5%,
        var(--color-blue) 5%,
        var(--color-blue) 8%,
        var(--color-sky) 8%,
        var(--color-sky) 11%,
        var(--color-blue) 11%,
        var(--color-blue) 14%,
        var(--color-sky) 14%,
        var(--color-sky) 17%,
        var(--color-blue) 17%
    );
}

header {
    background-color: var(--color-blue);
    background-image: linear-gradient(45deg, var(--color-sky) 25%, transparent 25%, transparent 75%, var(--color-sky) 75%),
                linear-gradient(45deg, var(--color-sky) 25%, transparent 25%, transparent 75%, var(--color-sky) 75%);
    background-size: 1.0rem 1.0rem;
    background-position: 0 0, 0.5rem 0.5rem;
}


aside nav li {
    border: solid 1px var(--color-blue);
}

aside nav a {
    color: var(--color-blue);
    background-image: linear-gradient(135deg, white 85%, var(--color-sky) 85%, var(--color-sky) 87%, white 87%, white 90%, var(--color-sky) 90%, var(--color-sky) 92%, white 92%, white 95%, var(--color-sky) 95%);
}

aside nav a:hover {
    color: white;
    background-image: linear-gradient(135deg, var(--color-blue) 85%, var(--color-yellow) 85%, var(--color-yellow) 87%, var(--color-blue) 87%, var(--color-blue) 90%, var(--color-yellow) 90%, var(--color-yellow) 92%, var(--color-blue) 92%, var(--color-blue) 95%, var(--color-yellow) 95%);
}

h1 {
    font-family: "MS P Gothic", "Hiragino Pro Gothic";
    color: var(--color-yellow);
    background-color: var(--color-blue);
    border: double 5px var(--color-sky);
}

article h2 {
    background-color: var(--color-blue);
    border: double 8px var(--color-yellow);
    color: var(--color-sky);
}

footer div {
    color: var(--color-yellow);
}

aside hr {
    background-image: linear-gradient(90deg, transparent 5%, var(--color-blue) 25%, var(--color-blue) 75%, transparent 95%);
}

.external_link ul li a {
    border: solid 1px var(--color-blue);
    background-color: white;
    color: var(--color-blue);
}

.external_link ul li a:hover {
    color: var(--color-yellow);
    background-color: var(--color-blue);
    animation-name: fadein;
    animation-duration: 1.2s;
}


.creative .link a {
    color: var(--color-blue);
    background-color: white;
    border: double 5px var(--color-blue);
}

.creative .link a:hover {
    color: var(--color-yellow);
    background-color: var(--color-blue);
    border-color: white;
}
